.logo {
    &__link {

    }

    &__text {
        color: #ffffff;
        font-size: 12px;
        display: block;
        margin-top: 6px;
    }

    img {
        max-width: 246px;
        width: 100%;
    }
}